__pycache__
.dmypy.json
.env
.git
.github
.mypy_cache
.venv
*.pt
*.py[cod]
*.zip
*$py.class
config.yaml
data
dmypy.json
env.bak
env
ENV
fbc-ml-models
masks
meta
model-oid-seg.workspace
README.md
runs
venv
venv.bak
