.archive
.temp
*.pt
*.zip
config.yaml
data
fbc-ml-models
fbc-ml-models-*
predictions
predictions-*
masks
meta
runs

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
